.box{
    border: 2px solid white;
    box-shadow: 0px 5px 10px #CE2742;
    overflow: hidden;
    /* height: 80vh; */
}
h1{
    font-size: 60px;
}
.cover {
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1));
    display: flex;
    align-items: center; 
    justify-content: center;
    padding-bottom: 10px; 
    font-size: 28px;
    font-weight: 500;
    transition: all 1s;
    padding-top: 20%;
    opacity: 0.85;
  }
/* .cover:hover{
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3));
} */
.info{
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1));
    display: flex;
    align-items: center; /* Align text to bottom */
    justify-content: center; /* Center horizontally */
    padding-bottom: 10px; /* Add space from bottom */
    font-size: 28px;
    font-weight: 500;
    padding-top: 20%;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}
#first_item:hover .info{
    opacity: 0;
    visibility: hidden;
}
#first_item{
    transition: all 1s;
}
#third_item:hover .cover{
    opacity: 1;
}
h2,h1{
    text-align: center;
}
#third_item h1{
    font-size: 40px;
}
#third_item h2{
    font-size: 20px;
}
.box h1{
    font-size: 50px;
}

@keyframes widthExpand {
    from {
      width: 0px;
      opacity: 0;
    }
    to {
      width: 100%;
      opacity: 1;
    }
  }
  
  @keyframes heightExpand {
    from {
      height: 0px;
      opacity: 0;
    }
    to {
      height: 100%;
      opacity: 1;
    }
  }
  
  @keyframes scaleExpand {
    from {
      transform: scaleX(0);
      opacity: 0;
      transform-origin: 100% 50%;
    }
    to {
      transform: scaleX(1);
      opacity: 1;
    }
  }
  
  #first {
    animation: widthExpand 0.8s ease-out forwards;
  }
  
  #second, #fifth {
    animation: heightExpand 0.8s ease-out forwards;
  }
  
  #third, #fourth {
    animation: scaleExpand 0.8s ease-out forwards;
  }
  